{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1">
    <title>Potluck</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}">
</head>
<body>
    {% block header %}
        <header class="text-4xl p-3">
            <a href="/"><strong>Potluck</strong></a>
        </header>
    {% endblock header %}
    {% block content %}
    {% endblock %}
</body>
</html>
