{% extends 'base.html' %}

{% block content %}
    {% include "components/heading-1.html" with heading="Your pots" %}
    {% if pots  %}
        <ul>
            {% for pot in pots  %}
             <li>
                <a href="{% url 'pot_detail' pot.id %}">{{ pot.name }}</a>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'pot_create' %}">Create a new pot</a>
    {% else %}
        <div class="my-5 py-20 text-center box">
            <p>
                👀 No pots here yet...
            </p>
            <p class="mt-10">
                <a class="inline-block p-4 btn" href="{% url 'pot_create' %}">Let's create one</a>
            </p>
        </div>
    {% endif %}
{% endblock content %}
