{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    {% include "components/heading-1.html" with heading="Create a pot" %}
    <form action="" method="POST" class="my-5 p-5 box">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div>
            <label class="block font-semibold" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            <p class="text-sm text-gray-500">
                {{ form.name.help_text }}
            </p>
            {% if form.name.errors %}
                <p>
                    {{ form.name.errors }}
                </p>
            {% endif %}
            <div class="h-1"></div>
            {{ form.name|add_error_class:"bg-red-100"|add_class:"p-1 w-full" }}
        </div>
        <div class="mt-4 flex items-baseline justify-between">
            <button class="p-2 btn" type="submit">Create</button>
            <a class="link" href="{% url 'pots_list' %}">Cancel</a>
        </div>
    </form>
{% endblock content %}
