{% extends 'base.html' %}

{% block content %}
    {% include "components/heading-1.html" with heading="Your pots" %}
    {% if pots %}
        <ul class="my-4">
            {% for pot in pots  %}
             <li>
                <a href="{% url 'pot_detail' pot.id %}" class="block my-3 p-2 text-primary-500 hover:text-primary-600 hover:bg-primary-50 active:bg-primary-100 border-2 border-primary-100 hover:border-primary-200 rounded">
                    <h2 class="text-xl font-semibold">{{ pot.name }}</h2>
                    <div class="text-xs font-normal text-gray-400">{{ pot.get_status_display }}</div>
                </a>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'pot_create' %}" class="inline-block py-1 px-2 btn">Create a new pot</a>
    {% else %}
        <div class="my-5">
            {% url 'pot_create' as create_pot_url %}
            {% include "components/action-box.html" with paragraph="👀 No pots here yet..." action_text="Let's create one" action_url=create_pot_url %}
        </div>
    {% endif %}
{% endblock content %}
