{% extends 'base.html' %}

{% block content %}
    <h1>{{ pot.name }}</h1>
    {% if pot.games %}
        <ul>
            {% for game in pot.games.all  %}
                <li style="padding-bottom: 1rem">{{ game }}
                    <form style="display: inline-block; margin-left: 1rem" action="{% url 'game_delete' game.pk %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Delete">
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            No games in this pot yet.
        </p>
    {% endif %}
    <p>
        <a href="{% url 'game_add' pot.pk %}">Add game</a>
    </p>
    <p>
        <a href="{% url 'set_winners' pot.pk %}">Set winning teams</a>
    </p>
    <p>
        Participants in the pot can place the picks here:
        <p>
            <a href="{{ picks_url }}">{{ picks_url }}</a>
        </p>
    </p>
{% endblock content %}
