{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    {% include "components/heading-1.html" with heading="Create a pot" %}
    <form action="" method="POST" class="my-5 p-5 box">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% include "components/form-field.html" with field=form.name %}

        <div class="mt-4 flex items-baseline justify-between">
            <button class="px-2 py-1 btn" type="submit">Create</button>
            <a class="link" href="{% url 'pots_list' %}">Cancel</a>
        </div>
    </form>
{% endblock content %}
