{% extends 'base.html' %}

{% block content %}
    <header>
        {% include "components/heading-with-eyebrow.html" with heading=pot.name eyebrow=pot.get_status_display %}
    </header>
    <p class="my-2 text-sm text-gray-500">
        {{ pot.status_help_text }}
    </p>

    {% with pick_sheet_count=pot.pick_sheets.count %}
        {% if pick_sheet_count %}
            <div class="my-4 flex flex-row items-start">
                <div class="-mt-1 mr-2 text-4xl font-semibold">{{ pick_sheet_count }}</div>
                <div>
                    <div class="font-semibold leading-4">Submitted pick sheet{{ pick_sheet_count|pluralize }}</div>
                    <div class="text-gray-500 text-xs">{{ pot.pickers_list|join:", " }}</div>
                </div>
            </div>
        {% endif %}
    {% endwith %}

    {% if pot.games.exists %}
        <ul class="my-4">
            {% for game in pot.games.all|dictsort:"id"  %}
                <li class="p-3 flex flex-row justify-between items-center bg-primary-50 odd:bg-primary-100 first:rounded-t-lg last:rounded-b-lg">
                    <div class="w-full flex flex-col xs:flex-row justify-between items-center">
                        {% for team in game.teams.all %}
                            <div class="flex-1 flex justify-center">
                                <div class="flex-initial text-center">
                                    {% if team == game.winning_team %}
                                        <span class="text-xl">👑</span>
                                    {% endif %}
                                    {{ team.name }}
                                </div>
                            </div>
                            {% if not forloop.last %}
                                <div class="flex-initial mx-2">
                                    {% if not game.is_tie %}
                                        vs
                                    {% else %}
                                        🥴 tied
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% if pot.status == pot.Status.DRAFT %}
                        <div class="w-3"></div>
                        <form action="{% url 'game_delete' game.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="px-2 py-0.5 text-sm font-semibold text-white bg-primary-300 hover:bg-primary-400 active:bg-primary-500 rounded">
                                Delete
                            </button>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% if pot.tiebreaker_score %}
            <div>
                <div class="font-semibold">Tiebreaker</div>
                <div class="text-4xl font-semibold">{{ pot.tiebreaker_score }}</div>
            </div>
        {% endif %}

        {% if pot.status == pot.Status.DRAFT %}
            <a href="{% url 'add_game' pot.pk %}" class="block my-4 p-4 btn text-center ">Add game</a>
        {% elif pot.status == pot.Status.OPEN %}
            <div class="my-8">
                <p class="text-gray-500 text-sm">
                    Share the following link with everybody to submit their pick sheets:
                </p>
                <div class="flex flex-row my-2 p-4 justify-between items-center box font-semibold">
                    <div class="flex-1 flex-shrink break-all">
                        <a id="shareLink" href="{{ picks_url }}">{{ picks_url }}</a>
                    </div>
                    <div id="shareLinkButtonContainer" class="ml-2 flex-shrink-0">
                    </div>
                </div>
            </div>
        {% elif pot.status == pot.Status.CLOSED %}
            <div class="my-4">
                <a href="{% url 'set_results' pot.pk %}" class="block p-4 btn">Set results</a>
            </div>
        {% elif pot.status == pot.Status.TALLY %}
            <div>
                <p class="text-gray-500 text-sm">
                    So who won?
                </p>
                <a href="{% url 'show_tally' pot.pk %}" class="block my-2 px-4 py-3 btn">Get the tally</a>
            </div>
        {% endif %}

    {% else %}

        <div class="my-4">
            {% url 'add_game' pot.pk as add_game_url %}
            {% include "components/action-box.html" with paragraph="No games in this pot yet 👀" action_text="Add the first game" action_url=add_game_url %}
        </div>

    {% endif %}

    {% if pot.next_status %}
        <form action="{% url 'pot_update_status' pot.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="status" value="{{ pot.next_status }}" class="p-4 w-full border border-primary-100 text-primary-500 text-right rounded-sm hover:bg-primary-50 active:bg-primary-100 active:border-primary-200">
                <div class="text-gray-900">Next</div>
                <div class="text-sm">{{ pot.next_status_action_text }}</div>
            </button>
        </form>
    {% endif %}

    <details class="mt-8">
        <summary class="mb-2 text-sm text-gray-500">more...</summary>
        {% if pot.previous_status %}
            <form action="{% url 'pot_update_status' pot.pk %}" method="POST">
                {% csrf_token %}
                <button class="p-4 w-full border border-primary-100 text-primary-500 text-left rounded-sm hover:bg-primary-50 active:bg-primary-100 active:border-primary-200" type="submit" name="status" value="{{ pot.previous_status }}">
                    <div class="text-gray-900">Back</div>
                    <div class="text-sm">{{ pot.previous_status_action_text }}</div>
                </button>
            </form>
        {% endif %}
        {% if pot.status == pot.Status.DRAFT %}
            <p>
                <a class="text-red-700 hover:underline active:text-red-400" href="{% url 'pot_delete' pot.id %}">Delete the pot</a>
            </p>
        {% endif %}
    </details>

    {% if pot.status == pot.Status.OPEN %}
        <script type="text/javascript">
            const shareLink = document.getElementById("shareLink")
            const shareLinkURL = shareLink.innerHTML

            const shareLinkButtonContainer = document.getElementById("shareLinkButtonContainer")
            const button = document.createElement("button")
            button.className= "px-2 py-1 border-2 border-primary-200 hover:border-primary-300 hover:bg-primary-100 active:bg-primary-200 rounded-md"

            if (navigator.share) {

                button.innerHTML = "Share"
                const shareData = {
                  title: 'Potluck',
                  text: 'Submit your pick sheet for {{ pot.name }}',
                  url: shareLinkURL,
                }
                const shareClickHandler = function (event) {
                    navigator.share(shareData)
                }
                button.addEventListener("click", shareClickHandler)
                shareLinkButtonContainer.appendChild(button)

            } else {
                if (navigator.clipboard) {
                    const buttonLabel = "Copy"
                    button.innerHTML = buttonLabel
                    const copyClickHandler = function (event) {
                        navigator.clipboard.writeText(shareLinkURL)
                        event.target.innerHTML = "Copied"
                        setTimeout(
                            function() {
                                event.target.innerHTML = buttonLabel
                            },
                            2000
                        )
                    }
                    button.addEventListener("click", copyClickHandler)
                    shareLinkButtonContainer.appendChild(button)
                }
            }
        </script>
    {% endif %}
{% endblock content %}
