{% extends 'base.html' %}

{% block content %}
    <h1>{{ pot.name }} ({{ pot.get_status_display }})</h1>
    {% if pot.games %}
        <ul>
            {% for game in pot.games.all  %}
                <li style="padding-bottom: 1rem">{{ game }}
                    {% if pot.status == pot.Status.DRAFT %}
                        <form style="display: inline-block; margin-left: 1rem" action="{% url 'game_delete' game.pk %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Delete">
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            No games in this pot yet.
        </p>
    {% endif %}
    {% if pot.status == pot.Status.DRAFT %}
        <p>
            <a href="{% url 'add_game' pot.pk %}">Add game</a>
        </p>
    {% elif pot.status == pot.Status.OPEN %}
        <p>
            Participants in the pot can place the picks here:
            <p>
                <a href="{{ picks_url }}">{{ picks_url }}</a>
            </p>
        </p>
    {% elif pot.status == pot.Status.CLOSED %}
        <p>
            <a href="{% url 'set_winners' pot.pk %}">Set winning teams</a>
        </p>
    {% elif pot.status == pot.Status.TALLY %}
        <p>
            So who won? <a href="{% url 'show_tally' pot.pk %}">Get the tally.</a>
        </p>
    {% endif %}
    <p>
        <form action="{% url 'pot_update_status' pot.pk %}" method="POST">
            {% csrf_token %}
            {% if pot.previous_status %}
                <button type="submit" name="status" value="{{ pot.previous_status }}">Set pot to {{ pot.previous_status.label }}</button>
            {% endif %}
            {% if pot.next_status %}
                <button type="submit" name="status" value="{{ pot.next_status }}">Set pot to {{ pot.next_status.label }}</button>
            {% endif %}

        </form>
    </p>
{% endblock content %}
