{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    {% include "components/heading-with-eyebrow.html" with heading=pot.name eyebrow="Set winning teams" %}
    {# <h1>{{ pot.name }}: Set winning team for each game</h1> #}
    <p class="my-4 text-gray-500 text-sm">
        For each game, pick the team that actually won.
    </p>
    <form action="" method="POST">
        {% csrf_token %}

        <p>
            {{ form.non_field_errors }}
        </p>

        {{ form.management_form }}

        {% for game_form in form %}
                {% for field in game_form %}
                    {% if field.name == "winning_team" %}
                        <div class="my-4 p-3 box">
                            {% include "components/team-radio-select.html" with field=field %}
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
        {% endfor %}

        <div class="flex justify-between items-baseline">
            <button type="submit" class="px-4 py-3 btn">
                Set winners
            </button>
            <a href="{% url 'pot_detail' pot.id %}" class="link">Cancel</a>
        </div>
    </form>

{% endblock content %}
