{% extends "base.html" %}
{% load widget_tweaks %}
{% load utils %}

{% block content %}
    {% include "components/heading-with-eyebrow.html" with heading=pot.name eyebrow="Set winning teams" %}
    {# <h1>{{ pot.name }}: Set winning team for each game</h1> #}
    <p class="my-4 text-gray-500 text-sm">
        For each game, pick the team that actually won.
    </p>
    <form action="" method="POST">
        {% csrf_token %}

        <p>
            {{ form.non_field_errors }}
        </p>

        {{ form.management_form }}

        {% for game_form in form %}
                {% for field in game_form %}
                    {% if field.name == "winning_team" %}
                        <div class="my-4 flex flex-row justify-between items-center p-3 box">
                            {% for radio in field|add_class:"test" %}
                                <div class="flex-1 flex justify-center">
                                    {{ radio.tag|insert:'-1, class="hidden"'|safe }}
                                    <label for="{{ radio.id_for_label }}" class="block flex-initial p-2 box hover:bg-yellow-100 font-bold text-center checked-input-label">
                                        {{ radio.choice_label }}
                                    </label>
                                </div>
                                {% if forloop.counter0 == 0 %}
                                    <div class="flex-initial mx-2">
                                        vs
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
        {% endfor %}

        <div class="flex justify-between items-baseline">
            <button type="submit" class="px-4 py-3 btn">
                Set winners
            </button>
            <a href="{% url 'pot_detail' pot.id %}" class="link">Cancel</a>
        </div>
    </form>

{% endblock content %}
