<ul>
    {% for game in games|dictsort:"id"  %}
        <li class="p-3 flex flex-row justify-between items-center odd:bg-primary-50">
            <div class="w-full flex flex-col xs:flex-row justify-between items-center">
                {% include "molecules/games-list-team.html" with team=game.away_team winning_team=game.winning_team %}
                <div class="flex-initial m-2 text-sm">
                    {% if not game.is_tie %}
                        vs
                    {% else %}
                        🥴 tied
                    {% endif %}
                </div>
                {% include "molecules/games-list-team.html" with team=game.home_team winning_team=game.winning_team %}
            </div>
            {% if pot.status == pot.Status.DRAFT %}
                <div class="w-3"></div>
                <form action="{% url 'game_delete' game.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="px-2 py-0.5 text-sm font-semibold text-white bg-primary-300 hover:bg-primary-400 active:bg-primary-500 rounded">
                        Delete
                    </button>
                </form>
            {% endif %}
        </li>
    {% endfor %}
</ul>
