{% extends 'base.html' %}

{% load widget_tweaks %}

{% block header %}
    {% include "components/header.html" with inactive=True %}
{% endblock header %}

{% block content %}
    {% include "components/heading-with-eyebrow.html" with heading=pot.name eyebrow="Pick sheet" %}

    <form action="" method="post">
        {% csrf_token %}
        <div  class="my-4">
            <div>
                {{ create_pick_sheet_form.non_field_errors }}
                {% for hidden in create_pick_sheet_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
            </div>

            <div>
                <label class="font-semibold">{{ create_pick_sheet_form.picker.label }}</label>
                <div class="text-sm text-gray-500">{{ create_pick_sheet_form.picker.help_text }}</div>
                {{ create_pick_sheet_form.picker.errors }}
                {{ create_pick_sheet_form.picker|add_class:"my-1 w-full" }}
            </div>

            <div class="mt-6">
                {{ create_pick_formset.management_form }}
                {{ create_pick_formset.non_field_errors }}
                <h2 class="font-semibold">Picks</h2>
                <div class="text-sm text-gray-500">For each game, pick the team you think is most likely to win.</div>
                {% for game_form in create_pick_formset %}
                    {% for field in game_form %}
                        <div class="mt-4">
                            {{ field.errors }}
                            {% if field.name == "picked_team" %}
                                    {% include "components/team-radio-select.html" with field=field %}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

            <div class="mt-6">
                <label id={{ create_pick_sheet_form.tiebreaker_guess.id_for_label }} class="font-semibold">Tiebreaker</label>
                <p class="text-sm text-gray-500">
                    {{ create_pick_sheet_form.tiebreaker_guess.help_text }}
                    {{ pot.tiebreaker_description }}{% if pot.tiebreaker_description|last != "." %}.{% endif %}
                </p>
                {{ create_pick_sheet_form.tiebreaker_guess.errors }}
                <div class="h-2"></div>
                {{ create_pick_sheet_form.tiebreaker_guess|add_class:"w-full" }}
            </div>
        </div>

        <button type="submit" class="block w-full px-4 py-3 btn">
            Submit pick sheet
        </button>
    </form>
{% endblock content %}
