{% extends 'base.html' %}


{% block header %}
    {% include "components/header.html" with inactive=True %}
{% endblock header %}

{% block content %}
    {% include "components/heading-with-eyebrow.html" with heading=pot.name eyebrow="Pick sheet submitted" %}

    <div class="my-8">
        <h2 class="text-2xl font-semibold leading-7">
            🎉 Thank you for submitting your pick sheet!
        </h2>
        <p class="mt-3 text-gray-500">
            You will be informed by the pot owner about the results.
        </p>
    </div>
{% endblock content %}
